@import "tailwindcss";
@source "./index.html";


@theme {
  /* Background */
  --color-bg-dark: hsl(20 22% 90%);
  --color-bg: hsl(20 45% 95%);
  --color-bg-light: hsl(20 100% 100%);

  /* Text */
  --color-text: hsl(17 59% 4%);
  --color-text-muted: hsl(20 13% 28%);

  /* Borders */
  --color-highlight: hsl(20 100% 100%);
  --color-border: hsl(20 8% 50%);
  --color-border-muted: hsl(20 11% 62%);

  /* Brand / Actions */
  --color-primary: hsl(23 81% 25%);
  --color-secondary: hsl(193 100% 16%);

  /* Status */
  --color-danger: hsl(9 21% 41%);
  --color-warning: hsl(52 23% 34%);
  --color-success: hsl(147 19% 36%);
  --color-info: hsl(217 22% 41%);
}

body  {
  background-color: var(--color-bg-dark);
}