@import "tailwindcss";
@source "./index.html";
:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(16 48% 1%);
  --bg: hsl(19 32% 4%);
  --bg-light: hsl(20 18% 9%);
  --text: hsl(20 92% 95%);
  --text-muted: hsl(20 14% 70%);
  --highlight: hsl(20 10% 39%);
  --border: hsl(20 13% 28%);
  --border-muted: hsl(20 19% 18%);
  --primary: hsl(20 68% 69%);
  --secondary: hsl(198 69% 65%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  /* oklch */
  --bg-dark: oklch(0.1 0.01 48);
  --bg: oklch(0.15 0.01 48);
  --bg-light: oklch(0.2 0.01 48);
  --text: oklch(0.96 0.02 48);
  --text-muted: oklch(0.76 0.02 48);
  --highlight: oklch(0.5 0.02 48);
  --border: oklch(0.4 0.02 48);
  --border-muted: oklch(0.3 0.02 48);
  --primary: oklch(0.76 0.1 48);
  --secondary: oklch(0.76 0.1 228);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}
body.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(20 22% 90%);
  --bg: hsl(20 45% 95%);
  --bg-light: hsl(20 100% 100%);
  --text: hsl(17 59% 4%);
  --text-muted: hsl(20 13% 28%);
  --highlight: hsl(20 100% 100%);
  --border: hsl(20 8% 50%);
  --border-muted: hsl(20 11% 62%);
  --primary: hsl(23 81% 25%);
  --secondary: hsl(193 100% 16%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0.01 48);
  --bg: oklch(0.96 0.01 48);
  --bg-light: oklch(1 0.01 48);
  --text: oklch(0.15 0.02 48);
  --text-muted: oklch(0.4 0.02 48);
  --highlight: oklch(1 0.02 48);
  --border: oklch(0.6 0.02 48);
  --border-muted: oklch(0.7 0.02 48);
  --primary: oklch(0.4 0.1 48);
  --secondary: oklch(0.4 0.1 228);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}



.isometra-regular {
  font-family: 'Isometra', sans-serif;
  font-weight: 400;
  font-style: normal;
}
